body{
    background: url("https://cdn.pixabay.com/photo/2016/11/13/21/48/doubt-1822144_960_720.jpg") no-repeat;
    background-size: cover;
}
h1{
    font: bold;
    color: plum;
    text-align: center;
}
h2{
    font-family: italic;
    font: bold;
    color: plum;
    font-size: 30;
}
p{
    font-size: 22px;
    font: bold;
    color: blue;
}
h3{
    color: plum;
    font: bold;
}
ul{
    color: blueviolet;
    padding: 20px;
}